<main>
    <h3>Edit Review</h3>

    <form action="/reviews/review-edit/{{review.id}}" method="POST">
        <label for="title">
            Review Title
            <input name="title" id="title" type="text" value="{{review.title}}">
        </label>
        </br>

        <label for="description">
            Description <textarea name="description" type="text" value="{{review.description}}"></textarea>
        </label>
        </br>

        <label for="rating">
            Rating <input name="rating" type="number" value="{{review.rating}}">
        </label>
        </br>

        <label for="comic">
            Comic
            <select name="comic" class="form-control" id="comic" value="{{review.comic._id}}">
                <option value="{{review.comic._id}}">{{review.comic.name}}</option>
                {{#each thisUserComics.comics}}

                <option value="{{_id}}">{{name}}</option>

                {{/each}}
            </select>
        </label>

        <button type="submit">Edit review</button>
    </form>
</main>