<main class="container">
    <h2>Lista de Reviews</h2>

    <aside>
        <a class="btn btn-dark" href="reviews/review-create">Add new review</a>
    </aside>

    <div class="row d-flex">
        <div class="card-deck">
            {{#each reviews}}
            <div id="review-cards" class="col-4">
                <div class="card h-100">
                    <p class="card-header">Review by {{owner.username}}</p>
                    <div class="card-body">
                        <p class="card-text">Comic: {{comic.name}}</p>
                        <p class="card-text">Review Title: {{title}}</p>
                        <p class="card-text">{{description}}</p>
                        <p class="card-text">Rating: {{rating}}</p>
                        {{#if ../isCurrUserOrAdmin}}
                        <a class="btn btn-danger" href="/reviews/review-edit/{{_id}}" type="button">Edit review</a>
                        <form action="/reviews/review-delete/{{_id}}" method="POST">
                            <button class="btn btn-danger" type="submit">Delete review</button>
                        </form>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    


    {{#if infoMsg}}
    <p id="logoutMessage">{{infoMsg}}</p>
    {{/if}}

    {{#if errorMsg}}
    <p id="logoutMessage">{{errorMsg}}</p>
    {{/if}}
    <a class="btn btn-dark" href="/">Volver a la Home</a>
</main>