<main>
    <article>
        <h2>Editar Perfil de Usuario</h2>

        <form action="/users/{{user.id}}/edit" method="POST">
            <aside>
                <label for="user-username">Username</label>
                <input type="text" , name="username" id="user-username" value="{{user.username}}">
            </aside>

            <aside>
                <label for="user-name">Name</label>
                <input type="text" , name="name" id="user-name" value="{{user.name}}">
            </aside>

            <aside>
                <label for="user-image">Profile Image</label>
                <input type="text" , name="profileImg" id="user-image" value="{{user.profileImg}}">
            </aside>

            <aside>
                <label for="user-description">Description</label>
                <input type="text" , name="description" id="user-description" value="{{user.description}}">
            </aside>

            {{#if isAdmin}}
            <aside>
                <label for="user-role">Role</label>
                <input type="text" , name="role" id="user-role" value="{{user.role}}">
            </aside>
            {{/if}}

            <button type="submit">Submit changes</button>

        </form>

        <a href="/">Back to Home Page</a>
        <p>{{errorMsg}}</p>
    </article>
</main>
