<main class="container">
    <div class="user-details-box">
        <img class="user-img-details" src={{user.profileImg}}>
        <div class="user-details-box-body">
            <p class="details-title">{{user.username}}</p>
            {{#if isCurrUser}}
            <a class="btn btn-dark mt-3" href="/users/{{user.id}}/edit">Edit Profile</a>
            {{/if}}
            {{#unless isCurrUser}}
            <form action="/users/add-friend/{{user.id}}" method="POST">
                <button class="btn btn-dark" id="add-friend">Add user to friend's list</button>
            </form>
            {{/unless}}
            <p>Name: <span class="bold">{{user.name}}</span></p>
            <p>Bio / Description: <span class="bold">{{user.description}}</span></p>
            <p>Role: <span class="bold">{{user.role}}</span</p>
            <ul>
                <span class="bold">Favorite Comics:</span> 
            {{#each user.comics}}
                <li class="user-details-comics">
                    <img src="{{comicImg}}" class="comic-img-icon" alt="Image"> {{name}} ({{issues}} issues) {{publisher}}
                </li>
            {{/each}}
            </ul>
            <ul>
                <p>Friends: </p>
            {{#each user.friends}}
                <li>
                    <img src="{{profileImg}}" class="comic-img-icon" alt="Image">  {{name}}
                </li>
            {{/each}}
            </ul>
            <hr>
            <small>User sign up date: {{user.createdAt}}</small>
        </div>
    </div>
    <div class="buttons-bar">
    {{#if isAdmin}}
        <a class="btn btn-dark mt-3 margin-button" href="/users/{{user.id}}/edit">Edit</a>
        <form action="/users/{{user.id}}/delete" method="POST">
            <button class="btn btn-dark mt-3 margin-button" type="submit">Delete</button>
        </form>
    {{/if}}
    <a class="btn btn-dark mt-3 margin-button" href="/">Back to Homepage</a>
    </div>
</main>