<main class="container">
    <h2>{{user.username}} - Detalles de Usuario</h2>
    <hr>

    {{#if isCurrUser}}
    <a href="/users/{{user.id}}/edit">editar mi perfil</a>
    {{/if}}

    <p>Username: {{user.username}}</p>
    <p>Nombre: {{user.name}}</p>
    <p>Bio / Descripción: {{user.description}}</p>
    <img src={{user.profileImg}}>
    <p>Tipo de Usuario: {{user.role}}</p>
    <ul>
        Comics en seguimiento: 
    {{#each user.comics}}
        <li>
            <img src="{{comicImg}}" alt="Image"> {{name}} ({{issues}} issues) {{publisher}}
        </li>
    {{/each}}
    </ul>
    <p>Amigos en la plataforma: {{user.friends}}</p>
    <hr>
    <p>Fecha de creación del usuario: {{user.createdAt}}</p>

    {{#if isAdmin}}
    <div>
        <a href="/users/{{user.id}}/edit">Edit</a>
        
        <form action="/users/{{user.id}}/delete" method="POST">
            <button type="submit">Delete</button>
        </form>
    </div>
    {{/if}}

    <a href="/">Volver a la Home</a>
</main>