<main class="container">
    <h2>{{user.username}} - Detalles de Usuario</h2>
    <hr>

    {{#if isCurrUser}}
    <a href="/users/{{user.id}}/edit">editar mi perfil</a>
    {{/if}}

    {{#unless isCurrUser}}
    <form action="/users/add-friend/{{user.id}}" method="POST">
        <button class="btn btn-primary" id="add-friend">Añadir perfil a mi lista de amigos</button>
    </form>
    {{/unless}}

    <p>Username: {{user.username}}</p>
    <p>Nombre: {{user.name}}</p>
    <p>Bio / Descripción: {{user.description}}</p>
    <img src={{user.profileImg}}>
    <p>Tipo de Usuario: {{user.role}}</p>
    <ul>
        Comics en seguimiento: 
    {{#each user.comics}}
        <li>
            {{name}} 
        </li>
    {{/each}}
    </ul>
    <ul>
        Amigos en la plataforma: 
    {{#each user.friends}}
        <li>
            {{username}} - {{name}}
        </li>
    {{/each}}
    </ul>
    <hr>
    <p>Fecha de creación del usuario: {{user.createdAt}}</p>

    {{#if isAdmin}}
    <div>
        <a href="/users/{{user.id}}/edit">Edit</a>
        
        <form action="/users/{{user.id}}/delete" method="POST">
            <button type="submit">Delete</button>
        </form>
    </div>
    {{/if}}

    <a href="/">Volver a la Home</a>
</main>