<main class="container">
    <h2>{{user.username}} User Details</h2>

    {{#if isCurrUser}}
    <a href="/users/{{user.id}}/edit">Edit my profile</a>
    {{/if}}

    <img src={{user.profileImg}}>

    <p>Name: {{user.name}}</p>
    <p>Role: {{user.role}}</p>
    <p>Description: {{user.description}}</p>
    <p>Created Date: {{user.createdAt}}</p>

    {{#if isAdmin}}
    <div>
        <a href="/users/{{user.id}}/edit">Edit</a>
        
        <form action="/users/{{user.id}}/delete" method="POST">
            <button type="submit">Delete</button>
        </form>
    </div>
    {{/if}}

    <a href="/">Volver a la Home</a>
</main>