<div id="comic-details">
    <img class="comic-img comic-img-big" src="{{comic.data.results.image.super_url}}" alt="Image SuperURL">
    <div class="details-body">
        <h2 class="name details-title">{{comic.data.results.name}}</h2>
        <form action="/api/search/{{comic.data.results.id}}" method="POST">
            <input hidden name='comicImg' value="{{comic.data.results.image.super_url}}">
            <input hidden name='name' value="{{comic.data.results.name}}">
            <input hidden name='description' value="{{comic.data.results.description}}">
            <input hidden name='issues' value="{{comic.data.results.count_of_issues}}">
            <input hidden name='publisher' value="{{comic.data.results.publisher.name}}">
            <button type="submit" class="btn btn-dark" id="add-comic">Add to favorites</button>
        </form>
        <div>
            <span> 
                Number of issues: <span class="count-of-issues">{{comic.data.results.count_of_issues}}</span>
            </span> - 
            <span> 
                Published by: <span class="publisher-name">{{comic.data.results.publisher.name}}</span>
            </span>
            <span>
                (<span class="start-year">{{comic.data.results.start_year}}</span>)
            </span>
        </div>
        <p class="description">{{{comic.data.results.description}}}</p>
    </div>

    {{#if errorMsg}}
            <p id="errorMessage">{{errorMsg}}</p>
    {{/if}}

    {{#if infoMsg}}
            <p id="logoutMessage">{{infoMsg}}</p>
    {{/if}}

    

</div>
